.projectpic {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 400px;
  width: 700px;
}
.center {
  text-align: center;
}
.pictext {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #1c1c1e;
  text-shadow: 1px 1px #84aaa3;
}
.smalltext {
  font-size: 15px;
  color: gainsboro;
  font-weight: 400;
}

.weatherappsection {
  padding-top: 50px;
  border: solid #487b65;
  padding: 50px;
  margin-bottom: 25px;
  box-shadow: 10px 5px 5px black;
}
img.small-weather-app-pic {
  margin-top: -20px;
}

.firstsection {
  border: solid #487b65;
  padding: 50px;
  margin-bottom: 25px;
  box-shadow: 10px 5px 5px black;
}
#text {
  text-align: center;
}

@media (max-width: 576px) {
  .weatherimg {
    margin-top: 30px;
  }
  .navbar-toggler {
    color: orange;
    display: flex;
    margin: 15;
    margin-left: 300px;
    margin-top: -50px;
    padding: 10px;
  }
  img.logoimg {
    margin-left: 145px;
  }
  .navbar-brand {
    color: green;
  }
  .navbar {
    color: red;
  }
  .container-fluid {
    color: purple;
  }
  .navbar-toggler-icon {
    color: blue;
  }
  .collapse navbar-collapse {
    color: pink;
  }
  .span.navbar {
    color: brown;
  }
  span-navbar-toggler-icon {
    color: orangered;
  }
  button.navbar-toggler {
    color: palegoldenrod;
  }

  .collapse navbar-collapse;
  .logoimg {
    display: flex;
  }
}
