nav {
  width: 100vh;
  margin-bottom: -40px;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
  margin-top: 130px;
}
p {
  text-align: left;
  max-width: 500px;
}
.bold {
  font-weight: 800px;
  color: #f78736;
  margin-bottom: 25px;
}
.restoftext {
  text-align: center;
}

.small-weather-app-pic {
  padding: 6em;
}
.weatherlink {
  text-decoration: none;
}
.custom-btn {
  margin-bottom: 80px;
}
.custom-btn :hover {
  color: rgb(117, 219, 233);
}
.weatherimg2 {
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 25px;
}
.mepic {
  margin-top: 90px;
  box-shadow: 20px 20px 20px rgb(117, 219, 233);
  padding: 50px;
}
.colortext {
  color: #f78736;
}
.emailicon {
  margin-top: 50px;
}

.custom-button i {
  margin-left: 18px;
  margin-top: 5px;
}

.emailicon {
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
  margin: 0 auto;
}

.secondpicofme {
  display: none;
}
@media (max-width: 576px) {
  div.container-fluid {
    display: none;
  }
  h1 {
    margin-top: 20px;
  }
  img.small-weather-app-pic.mepic {
    display: none;
  }
  .secondpicofme {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
  }
  .bold {
    margin-top: -10px;
  }
  .emailicon {
    margin-top: -50px;
  }
  .small-weather-app-pic {
    width: 30px;
  }
  nav {
    justify-content: center;
  }
  .navbar-toggler {
    color: orange;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
  img.logoimg {
    margin-left: -90px;
  }
  p {
    margin: 50px;
    text-align: center;
  }
}
@media (max-width: 992px) {
  p {
    max-width: 350px;
  }
  img.small-weather-app-pic.mepic {
    display: none;
  }
}
