nav {
  width: 100vh;
}

.sectiontwo {
  background-color: #402a23; /* set your desired background color here */
  width: 1750px;
  height: 300px;
  opacity: 0.13;
}

.border {
  outline: 8px ridge #402a23 (170, 50, 220, 0.6);
  outline-style: inset;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 10px 10px 10px black;
  width: 500px;
}
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.weathertext {
  padding-top: 110px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.small-weather-app-pic {
  padding: 6em;
}
.weatherlink {
  text-decoration: none;
}
.custom-btn :hover {
  color: rgb(117, 219, 233);
}
.weatherimg2 {
  margin: 5px;
}
