nav {
  width: 100vh;
  margin-bottom: -40px;
}

.sectiontwo {
  background-color: #402a23; /* set your desired background color here */
  width: 150px;
}

.border {
  outline: 8px ridge #402a23 (170, 50, 220, 0.3);
  outline-style: inset;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 10px 10px 10px black;
  width: 500px;
}
.border2 {
  border: 2px solid #487b65;
  border-radius: 10px;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.weathertext {
  padding-top: 80px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.small-weather-app-pic {
  padding: 6em;
}
.weatherlink {
  text-decoration: none;
}
.custom-btn {
  margin-bottom: 80px;
}
.custom-btn :hover {
  color: rgb(117, 219, 233);
}
.weatherimg2 {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.mepic {
  margin-left: 28px;
  margin-top: 10px;
  box-shadow: 20px 20px 20px rgb(117, 219, 233);
  padding: 50px;
}
.colortext {
  color: #a55233;
}
.ptext {
  max-width: 400px;
  text-align: center;
  padding-bottom: 15px;
}
.ptext {
  font-size: 15px;
}
.container {
  margin-top: -90px;
}
.custom-button {
  background-color: #84aaa3;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}

.custom-button span {
  flex: 1;
  margin-top: -3px;
}
button.custom-button a {
  text-decoration: none;
  color: white;
}

.custom-button i {
  margin-left: 18px;
  margin-top: 5px;
}

.custom-button:hover {
  background-color: #487b65;
}
