body {
  overflow-x: hidden;
}
.button.navbar-togglar {
  display: block;
  margin: 0 auto;
}
.indexbody {
  overflow-y: hidden;
}
h2 {
  padding-bottom: 25px;
}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.boxer {
  color: red;
  width: 50px;
  height: 50px;
}
.pictext {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #1c1c1e;
  text-shadow: 1px 1px #84aaa3;
}
.smalltext {
  font-size: 15px;
  color: gainsboro;
  font-weight: 400;
}

.weatherappsection {
  padding-top: 50px;
  border: solid #487b65;
  padding: 50px;
  margin-bottom: 25px;
  box-shadow: 10px 5px 5px black;
}

.firstsection {
  border: solid #487b65;
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 25px;
  box-shadow: 10px 5px 5px black;
  padding-top: 35px;
}
#text {
  text-align: center;
}
.p2 {
  color: orange;
  padding-top: 85px;
}

.envelope {
  padding-top: 15px;
}
.border {
  margin: 5px;
  height: 399px;
  width: 400px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.containerone {
  text-align: center;
}

.weatherimg {
  display: block;
  margin: 0 auto;
}
.oatmealimg {
  display: block;
  margin: 0 auto;
}
.oatmealpic {
  margin-top: -40px;
}
.oatmealimg {
  margin-top: 85px;
}
.aboutcontainer {
  display: block;
  margin: 0 auto;

  width: 878px;
}
.aboutsocial-links {
  margin-top: -141px;
}
.aboutmepic {
  margin: 20px;
}
.work-container {
  margin: 15px;
}
.WineTimepic {
  margin: 25px;
}
.IphoneWeatherpic {
  padding-top: 23px;
  padding-bottom: 5px;
}
.builtwith {
  font-size: 12px;
}
.WeatherApppic {
  padding-top: 45px;
  padding-bottom: 25px;
}

i {
  margin: 20px;
  margin-top: 130px;
  font-size: 45px;
  color: #487b65;
}
i:hover {
  color: orange;
  cursor: pointer;
}
h2.text-center {
  margin-top: 120px;
}
h2.text-center.lastname {
  margin-top: 10px;
}
.newboxshadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin: 75px;
}
.box {
  height: 400px;
  width: 400px;
}

.index {
  margin-top: -140px;
}
div.social-links {
  margin-top: -170px;
}
.worksocial-links {
  margin-top: -200px;
}
.card-body {
  display: none;
}

div.newlogoimg {
  padding-bottom: 65px;
}

.ABIpad {
  margin-left: 140px;
}
.weatherLaptop {
  margin-left: 620px;
}

.creative-text {
  margin-left: 10px;
  margin-top: -90px;

  font-family: "Arial", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.842);
  opacity: 0.5;
  z-index: -1;
}
div.creative-text {
  margin-top: 600pxpx;
}
.sectionone {
  margin-top: 20px;
  width: 1500px;
  height: 540px;
  box-shadow: #487b65 0px 5px 15px;
  background-color: rgba(245, 214, 176, 0.034);
}
.cardbody {
  height: 200px;
  margin-top: 15rem;
}
.electronics {
  display: flex;
  margin-top: -422px;
  width: 1800px;
}
.overtext {
  margin-top: 55px;
  font-size: 50px;
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    display: flex;
  }
  img {
    display: none;
  }
  .weatherimg {
    display: block;
    margin: 0 auto;
    margin-top: 3px;
  }
  .navbar-toggler {
    color: orange;
    display: flex;
    margin: 15;
    margin-left: 360px;
    margin-top: -60px;
    padding: 10px;
  }
  a.nav-link {
    margin-left: 40px;
    margin-top: -5px;
  }
  img.logoimg {
    display: block;
    margin: 0 auto;
  }
  .border {
    margin: 45px;
    height: 160px;
    width: 160px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .containerone {
    text-align: center;
  }
  .containertwo {
    text-align: center;
  }
  .WineTimepic {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    width: 120px;
  }
  .projectname {
    display: none;
  }
  .builtwith {
    display: none;
  }
  .IphoneWeatherpic {
    margin-top: -18px;
    width: 70px;
  }

  img.envelope {
    display: none;
  }
  img.about-small-weather-app-pic.img-fluid {
    display: flex;
    margin-top: -30px;
    margin-left: 95px;
  }
  div.aboutcontainer.text-center.firstsection {
    width: 450px;
    height: 550px;
  }
  div.container.text-center.weatherappsection {
    margin: 4px;
  }
  h2.text-center {
    margin-left: -180px;
    margin-top: 120px;
  }
  img.WeatherApppic {
    width: 140px;
  }
  img.WineTimepic2 {
    width: 100px;
    padding-top: 5px;
  }
  a.text-decoration-none.footeremail {
    font-size: 25px;
  }
  .work-logoimg {
    margin-left: 80px;
  }

  img.oatmealpic.img-fluid {
    margin-top: 35px;
    max-width: 100%;
  }
  img.small-weather-app-pic.img-fluid {
    width: 20px;
    margin-top: 90px;
  }

  h2.text-center.lastname {
    padding-top: 25px;
    margin-left: -190px;
  }
  a.text-decoration-none.footeremail {
    margin-top: 95px;
  }
  .weatherappsection {
    display: flex;
  }
  h2 {
    display: none;
  }
  p {
    display: none;
  }
  button {
    margin: 5px;
    margin-left: -40px;
  }
  button.navbar-toggler {
    margin-top: 8px;
    margin-left: -70px;
  }

  div.col {
    margin-top: -40px;
  }
  div.container-fluid {
    width: 70px;
  }
  div.creative-text {
    display: flex;
    font-size: 28px;
    width: 800px;
    margin-left: 255px;
    margin-top: -50px;
  }
  .aboutsocial-links {
    margin-top: 90px;
  }
  div.social-links {
    margin-top: -60px;
    max-width: 900px;
  }

  i {
    margin: 10px;
    font-size: 35px;
    color: #487b65;
  }

  row {
    display: block;
    margin: 0 auto;
  }
  .packagefortwo {
    display: block;
    margin: 0 auto;
  }
  .sectionone {
    text-align: center;
    margin: 15px;
    width: auto;
  }

  .navbar-brand {
    color: green;
  }
  .navbar {
    color: red;
  }
  .container-fluid {
    color: purple;
  }
  .navbar-toggler-icon {
    color: blue;
  }
  .collapse navbar-collapse {
    color: pink;
  }
  .span.navbar {
    color: brown;
  }
  span-navbar-toggler-icon {
    color: orangered;
  }
  button.navbar-toggler {
    color: palegoldenrod;
  }

  .logoimg {
    display: flex;
  }
  .electronics {
    margin-left: 20px;
    height: 500px;
    margin-top: 600px;
  }
  h2.overtext {
    font-size: 15px;
    text-align: center;
  }
  div.d-flex.justify-content-evenly.p-5 {
    margin-top: -280px;
  }
  .indexbody {
    overflow-y: visible;
  }
}
@media (max-width: 768px) {
  .indexbody {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  div.navbar-nav {
    margin-left: -10px;
  }
  .electronics {
    height: 540px;
    width: 380px;
    margin-top: -80px;
  }
  .overtext {
    margin-top: -180px;
    font-size: 20px;
    margin-left: -5px;
  }
  footer.center.social-links.index {
    margin-top: 290px;
  }
  .container {
    height: 400px;
  }
}
